//
// NOTE: this part included in entry point in webpack.config.js
//

body {
  font-family: 'Sans Serif';
  margin: 0px;
  /*
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}

//
.flex {
  display: flex;
  // flex: 1 1 100%;
  // margin: auto;
  &.row {
    flex-flow: row wrap;
    // width: 100%;
  }
  &.column {
    flex-flow: column wrap;
  }
  &.nowrap {
    flex-wrap: nowrap !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// loop over the BREAKPOINTS
@each $key, $value in $BREAKPOINTS {
  .#{$key}{
    flex: 0 0 100%;
  }
  @include break($value, 'up') {
    .#{$key}{
      @for $i from 1 through $COLUMN-COUNT {
        &.span-#{$i} {
            flex: 0 0 #{$i / $COLUMN-COUNT * 100%};
        }
        &.offset-#{$i} {
            margin-left: #{$i / $COLUMN-COUNT * 100%};
        }
      }
    }
  }
  @include break($value, 'down') {
    .hidden-#{$key}-down {
      display: none !important;
    }
  }
  @include break($value, 'up') {
    .hidden-#{$key}-up {
      display: none !important;
    }
  } 
}

$dv : 10;

@for $i from 1 through 40 {
  .fs-#{$i} {
    font-size: #{$i / $dv}em;
  }
  .p-#{$i} {
    padding: #{$i / $dv}em;
  }
  .pt-#{$i} {
    padding-top: #{$i / $dv}em;
  }
  .pb-#{$i} {
    padding-bottom: #{$i / $dv}em;
  }
  .pl-#{$i} {
    padding-left: #{$i / $dv}em;
  }
  .pr-#{$i} {
    padding-right: #{$i / $dv}em;
  }
  .pv-#{$i} {
    padding-top: #{$i / $dv}em;
    padding-bottom: #{$i / $dv}em;
  }
  .ph-#{$i} {
    padding-left: #{$i / $dv}em;
    padding-right: #{$i / $dv}em;
  }
  .m-#{$i} {
    margin: #{$i / $dv}em;
  }
  .mt-#{$i} {
    margin-top: #{$i / $dv}em;
  }
  .mb-#{$i} {
    margin-bottom: #{$i / $dv}em;
  }
  .ml-#{$i} {
    margin-left: #{$i / $dv}em;
  }
  .mr-#{$i} {
    margin-right: #{$i / $dv}em;
  }
  .mv-#{$i} {
    margin-top: #{$i / $dv}em;
    margin-bottom: #{$i / $dv}em;
  }
  .mh-#{$i} {
    margin-left: #{$i / $dv}em;
    margin-right: #{$i / $dv}em;
  }
}
