//
// NOTE: vars available for each component <style> section likewise 'base.scss'

$FONT-FACE-BASIC: 'Proxima Nova';

$HERO-BK-COLOR: #07102c;
$NAV-ITEM-COLOR: #edf4ff;
$HIGHLIGHT-ITEM-COLOR: rgba(48, 106, 172, 0.39);
